@charset "UTF-8";

#wrap {
	width:1200px;
	height:800px;
	margin:0 auto;
}

header {
	height:100px;
}

.main {
	height:600px;
	margin:0 auto;
	width:70%
}

footer {
	height:100px;
}

.box {
	padding:10px;
	margin:20px;
}

.post {
	padding:10px;
	margin:10px auto;
}

.post-box {
	border:1px solid #ccc;
	padding:10px;
	margin:10px auto;
}

.comment {
	padding:15px;
	margin:10px auto;
}

.img-responsive {
	max-width:100%; 
    width:auto; 
    height:auto;
    vertical-align:bottom;
}

.font-25 {
	font-size:25px;
}